            /* MAIN DIV */

#main_mother_div{
    border: 1px solid black;
    width: 99%;
    height: 700px;
    display: flex;

}

             /* MAIN SIDEBAR */ 

#main_sidebar{
    border: 1px solid black;
    border-radius: 10%;
    width: 25%;
    height: 80%;
    margin-top: 5%;
    margin-left: 3%;
}


            #main_sidebar_picture{
                border: 1px solid black;
                width: 50%;
                margin-left: 25%;
                margin-top: 5%;
                height: 30%;
                border-radius: 50%;
                background-image: url('/src/profile_pic.jpg');
                background-size: 100%;
                background-repeat: no-repeat;
            }

            #main_sidebar_text{
                border: 1px solid black;
                width: 80%;
                height: 60%;
                margin-top: 2%;
                margin-left: 10%    ;
            }

            #main_sidebar_text h2{
                margin-left: 20%;
            }

            #main_sidebar_text h3{
                margin-left: 21%;
                margin-top: -6%;
            }

            


             /* MAIN CONTENT */ 

#main_content{
    border: 1px solid black;
    width: 65%;
    height: 80%;
    margin-top: 5%;
    margin-left: 3%;    
}

            #main_subcontent_01{
                border: 1px solid black;
                width: 99%;
                height: 75%;
                margin-left: 0.5%;
            }

            #home_div{
                border: 1px solid black;
                width: 90%;
                height: 90%;
                margin-left: 5%;
                margin-top: 2%;
            }

            #portfolio_div{
                border: 1px solid black;
                width: 90%;
                height: 90%;
                margin-left: 5%;
                margin-top: 2%;
                background-size: 10%;
            }

                    #look_portfolio{
                        border: 1px solid black;
                        width: 25%;
                        height: 50%;
                        display: inline-block;
                        margin-top: 10%;
                        margin-left: 6%;
                        background-color: rgb(189, 134, 240);
                    }

                            .look_portfolio_name{
                                margin-top: 50%;
                                margin-left: 20%;
                            }

                            #look_portfolio_button{
                                height: 13%;
                                margin-left: 20%;
                            }


                    #piggy_portfolio{
                        border: 1px solid black;
                        width: 25%;
                        height: 50%;
                        display: inline-block;
                        margin-left: 6%;
                        background-color: rgb(226, 43, 214);
                    }

                            .piggy_portfolio_name{
                                margin-top: 50%;
                                margin-left: 20%;
                            }

                            #piggy_portfolio_button{
                                height: 13%;
                                margin-left: 24%;
                            }

                    #github_portfolio{
                        border: 1px solid black;
                        width: 25%;
                        height: 50%;
                        display: inline-block;
                        margin-left: 6%;
                    }

                            .github_portfolio_name{
                                margin-top: 50%;
                                margin-left: 18%;
                            }

                            #github_portfolio_button{
                                margin-left: 25%;
                            }

            #about_me_div{
                border: 1px solid black;
                width: 90%;
                height: 90%;
                margin-left: 5%;
                margin-top: 2%;
            }

                #about_me_text{
                    border: 1px solid black;
                    width: 90%;
                    margin-left: 5%;
                    margin-top: 5%;

                }

            #contact_me_div{
                border: 1px solid black;
                width: 90%;
                height: 90%;
                margin-left: 5%;
                margin-top: 2%;
            }


                        #contact_form_h1{
                            margin-left: 30%;
                        }

                        .input{
                            display: flex;
                            flex-direction: row;
                            margin-left: 30%;
                            margin-top: 3%;
                            width: 30%;
                        }

                        #messageInput{
                            height: 100px;
                            box-sizing: border-box;
                            resize: vertical;
                        }

                        #formButton{
                            margin-left: 35%;
                            margin-top: 3%;
                            width: 20%;                            
                        }

                       

#main_subcontent_02{
    border: 1px solid black;
    width: 50%;
    height: 15%;
    margin-left: 25%;
    margin-top: 3%;
}

#main_subcontent_02_quote{
    margin-left: -7%;
    text-align: center;
    margin-top: 5%;
}

#main_subcontent_02_author{
    font-style: italic;
    width: 60%;
    margin-left: 30%;
    margin-top: 2%;
    text-align: center;
}

